#profile-settings .nav-stacked li {
  border-bottom:  1px solid #E5E5E5;
  margin: 0;
}

#profile-settings .nav-stacked li:last-child  {
  border-bottom: 0;
}

#profile-settings .nav-stacked a {
  border-radius: 0;
}

#profile-settings .nav-stacked li:first-child a {
  border-radius: 0.4rem 0.4rem 0 0;
}

#profile-settings .nav-stacked li:last-child a {
  border-radius: 0 0 0.4rem 0.4rem;
}

#account-tabs > li {
  border-bottom: 0.1rem solid #E5E5E5;
}

#account-tabs a {
  border-bottom: 0;
}

#account-tabs li.active {
  border-bottom: 0;
}

#account-tabs > li {
  border-bottom: 0;
}

#account-tabs {
  position: relative;
  z-index: 99;
}

#main .tab-content {
  padding: 2em;
  margin-top: -0.1rem;
}

#main .form-horizontal .form-group:last-child {
  margin-bottom: 0;
}

.list-group-item {
  border-color: #E5E5E5;
}

#right-content .list-group .label {
  float: right;
}

#right-content .list-group .label {
  margin-top: 0.3rem;
  padding: 0.3rem 0.6rem;
}

#right-content .list-group .badge.glyphicon-star {
  background-color:  #F0AD4E;
  padding: 0.4rem;
  padding-left: 0.5rem;
}
